@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}


main {
    font-family: 'Merriweather', serif;
}

#nav-bar {
    background-color: #FFD54E;
}

#logo,
#menu-bar {
    display: flex;
    justify-content: center;
}

#logo {
    margin-bottom: 30px;
    padding: 30px 0 10px 0px;
    font-size: 30px;
    color: aliceblue;
}

#text-color {
    color: #30323D;
}

#menu-bar {
    list-style-type: none;
    gap: 30px;
    padding-bottom: 30px;
    font-size: 19px;
}

.links-menu-bar {
    color: aliceblue;
    text-decoration: none;
    padding: 10px;

}

.links-menu-bar:hover {
    background-color: aliceblue;
    color: #30323D;
    border-radius: 15px;
    transition: 1s;
}

body {
    background-color: #efefef;
}

#main-content {
    background-color: #ffffff;
    width: 800px;
    margin: 15px 15px 0px 100px;
    padding: 25px;
    border-radius: 5px;
}

.title-main-content {
    color: #FFD54E;
    font-size: 35px;

}

.title-subtitle-box,
.main-images,
.text-content {
    padding-bottom: 20px;
}

.main-images {
    display: flex;
    justify-content: center;
}

.image-property {
    border-radius: 10px;
    box-shadow: 6px 7px 8px -3px #7a7a7a;
}


.text-content {
    text-align: justify;
}

.lateral-posting,
.lateral-category {

    float: right;
    position: relative;
    background-color: #ffffff;
    width: 250px;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 5px;
}

.lateral-posting {
    bottom: 2050px;
    right: 100px;
}

.lateral-category {
    bottom: 1780px;
    left: 170px;
}

.lateral-titles {
    background-color: #bcbcbc;
    padding: 7px;
    margin-bottom: 10px;
    color: #696969;
}

.lateral-links {
    text-decoration: none;
    color: #FFD54E;
}

#horizontal-line {
    margin: 20px;
}

#list-category {
    list-style-type: none;
}

#list-category li {
    padding-bottom: 3px;
}

#list-category a {
    text-decoration: none;
    color: #FFD54E;
    font-size: 17px;
}

#footer {
    margin: 20px 0px 0px 400px;
}